html{
    scroll-behavior: smooth;
    background-color:#071952;
    margin: 30px;
}
img{
    height: 65vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid;
    border-color: white;
    
}
h1{
    color:black;
    font-weight: 100; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
p{
    background-color:white ;
}
.heading{
    background-color:white ;
    color: black;
    padding: 50px;
}
a{
   text-decoration: none;
   margin: 30px;
   padding: 5px;
   
   font-size: larger;
   border-left: 3px solid;
   border-right: 3px solid;
   
}
.aawards{
    text-align: center;
}

.a{
    color: black;
    font-weight: 800;
    

}

.name{
    font-weight: 700;
    
    color: black;
    background-color: white;
}
body{
    line-height: 1.6;
    text-align: center;
    
    background-image: url(https://pbs.twimg.com/media/FzShMLBacAcg3DY.jpg:large);
    
    padding: 30px;
    border-radius: 15px;
    
    
    
}
.caption{
    background-color: white;
    font-size: larger;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    
   
}
.about{
    background-color:white;
    border-radius: 10px;
    height: 100%;
    padding: 50px;
    padding-top: 20px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2); 
}
#media{
    background-color:white ;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-radius: 20px;
}
#movies{
    background-color:white ;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-radius: 20px;
}
#awards{
    background-color: white;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}
#activities{
    background-color: white;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-radius: 20px;
}
footer{
    background-color: white;
}