
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    line-height: 20px;
    
    
   
    
    
}
h1{
    line-height: 30px;
}
.main{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    padding-top: -10px;  
    border-radius: 10px;  
}
img{
    height: 55vh;
    padding-right: 25px;
    border-radius: 10px;
}
.matter{
    padding-right: 20px;
    justify-content: center;
}
#f1{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}
.f2{
    color: hsl(228, 12%, 48%);
}
.perfume{
    font-size: 14px;
}
.green{
    color: hsl(158, 36%, 37%);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    
    
}
#slash{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: line-through;
}
.font
{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.green button{
    display: flex;
    place-content: center;
    place-items: center;
    height: 16px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    

    
}
.b{
    background-color:hsl(158, 36%, 37%) ;
    color: white;
    border: none;
    outline: none;

    
   
}
.description{
    line-height: 1.5;
   
    
}
