@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    box-sizing: border-box;
   
}
body{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400,700;
    background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    
    background-position:right 800px bottom  300px , top  300px left 800px;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 23%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    border-radius: 15px;
    
  

}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    
   
   
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin-top: 68px;
    border-radius: 100%;
    border: 5px solid white;
    height: 30%;

}
h2{
    font-size: 18px;
    margin-bottom: 0px;
    color:  hsl(229, 23%, 23%);
}
.location{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 25px;
    padding-top: 0px;
    color: hsl(227, 10%, 46%);
    
}
span{
    color:  hsl(227, 10%, 46%);
  font-weight: 400;
    text-align: justify;
    padding-left: 7px;
}
.box2{
    border-top: 1px solid hsl(0, 0%, 59%);
    width: 347px;
    display: flex;
    justify-content: space-evenly;
    
}
.followers{
    margin-top: 10px;
    text-align: center;
    
}
p{
    margin-top: 0px;
    font-size: 12px;
    text-align: center;
    color: hsl(0, 0%, 59%);   
}
.likes{
    margin-top: 10px;
    text-align: center;
}
.photos{
    margin-top: 10px;
    text-align: center;
}